/******************************************************/
/*Meyer reset*/
/******************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/******************************************************/
/*General*/
/******************************************************/
:root{
    --min-project-box-width: 300px;
}

/*
@font-face {
    font-family: "kaushanscript-regular";
    src:
        url("./font/kaushanscript-regular-webfont.woff2") format("woff2"), 
        url("./font/kaushanscript-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*/

/******************************************************/
/*Container*/
/******************************************************/
div.container{
    height: 100vh;

    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}


/******************************************************/
/*Sidebar*/
/******************************************************/
div.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    padding: 20px;
}

div.sidebar > ul{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

div.sidebar > ul > li:first-child,
div.sidebar > ul > li:nth-child(7){
    margin-bottom: 5vh;
}

div.sidebar > ul > li{
    list-style-type: none;
}

.sidebar-logo{
    display: inline-block;
}

/******************************************************/
/*Header*/
/******************************************************/
div.header{
    display: grid;

    padding: 24px;
}

div.header > div.header-first-row{
    display: grid;
    grid-template-columns: 7fr repeat(3, 1fr);
}

div.header > div.header-second-row{
    display: grid;
    grid-template-columns: 6fr repeat(3, 1.33fr);
}

div.header > div.header-second-row > div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.5fr 8.5fr;
}

div.header > div.header-second-row > div > div{
    grid-area: 1 / 1 / 3 / 2;
}
/******************************************************/
/*Main*/
/******************************************************/
div.main{
    display: grid;
    grid-template: 6fr 4fr / 7fr 3fr;

    padding: 24px 12px;
}

/*Projects*/
div.main > div.main-projects{
    grid-area: 1 / 1 / 3 / 2;
}

div.main > div.main-projects > div.project-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-project-box-width), 1fr));
}

div.main > div.main-projects > div.project-box-container > div.box > div.project-icon-row{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: end;
    column-gap: 36px;
}

/*Announcements*/

/*Trending*/
div.main > div.main-trending > div.box{
    display: grid;
}

div.main > div.main-trending > div.box > div{
    display: grid;
    grid-template: 1fr 1fr / 2fr 8fr;
}

div.main > div.main-trending > div.box > div > div{
    grid-area: 1 / 1 / 3 / 2;
}

/******************************************************/
/*Temp*/
/******************************************************/
.sidebar,
.header,
.main{
    border: 1px solid black;
}